<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Visual Landmark Detection using CNN || Implementation for RCAI</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<div class = "container">
    <div class = "starter-template">
	<h1>Visual Landmark Detection using CNN</h1>
        <h4>This model can be further extended for the use, by adding more classes, data and training.</h4><br>
<div class="text-center">
{% if message %}
<h2>{{message}}</h2><br><br>
<!--img src="/{{imgpath}}" alt="comeee on" height="480" width="640"-->
{% endif %}
</div><br><br>
        <p class = "lead"> Try uploading an image of NIC or WHITE-HOUSE</p>
        <p> NED Landmarks detection using CNN | Powered by Python, Flask, OpenCV and Tensorflow </p>
        <p> By Syed Kazim - Oct, 2019 </p>
    </div>
</div>

<header class="navbar">
    <form action="/predict_object/" method="post" enctype="multipart/form-data">
        <div align="center">
            <label class="btn btn-default btn-file">
                Browse <input type="file" accept="image/*" name="image_url" style="display: none;" capture>
            </label>
            <input type="submit" value="Upload your image" class="btn btn-secondary">
        </div>
    </form>
</header>

<!--div class="text-center">
{% if message %}
<h2>{{message}}</h2><br><br>
<img src="/{{imgpath}}" alt="comeee on" height="480" width="640">
{% endif %}
</div-->

</body>
</html>
